body {
  margin: 0;
  padding: 2px;
  background:linear-gradient(to left , rgba(12,39 ,57 ,1) 0% , rgba(1,128,128, .5)100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
